<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carreras</title>
    <link rel="stylesheet" href="../styles/views.css" />
    <link rel="stylesheet" href="../styles/media.css">
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>

  <body>
    <style>
        
    </style>
    <div style="display: flex;flex-direction: row; 
    justify-content: space-between;
        align-items: center;">
      <h2 id="tituloCarrera">Carreras:</h2>
        <img
                  src="../assets/img/palmar.png"
                  alt="logo Subsede"
                  width="100"
                  height="100"
                />
    </div>
  
    <hr />
    <br />
    <table id="tableOfCarrera">
      <tr>
        <th>Tipo</th>
        <th>Carrera</th>
        <th>Instituto</th>
        <th>Localidad</th>
        <th style="width: 100px;">Estado</th>
        <th style="width: 80px;">Info</th>

        <tr>
          <td>TECNICATURA<b></b></td>
          <td>
            TECNICATURA SUPERIOR EN ADMINISTRACION PUBLICA ORIENTADA AL
            DESARROLLO LOCAL - ME R. N° 49/13
          </td>
          <td>SUB SEDE PALMAR GRANDE DEL ISFD CAA CATI</td>
          <td>PALMAR GRANDE</td>
          <td>Finalizada</td>
          <td></td>
        </tr>

        <tr>
          <td>TECNICATURA</td>
          <td>TECNICATURA SUPERIOR EN BROMATOLOGIA - 170/13</td>
          <td>SUB SEDE PALMAR GRANDE DEL ISFD CAA CATI</td>
          <td>PALMAR GRANDE</td>
          <td>Finalizada</td>
          <td></td>
        </tr>
        <tr>
          <td>TECNICATURA</td>
          <td>TECNICATURA SUPERIOR EN DESARROLLO DE SOFTWARE - RES. 47/13</td>
          <td>SUB SEDE PALMAR GRANDE DEL ISFD CAA CATI</td>
          <td>PALMAR GRANDE</td>
          <td><b style="color: rgb(10, 20, 163);">En curso</b></td>
          <td></td>
        </tr>
        <tr>
          <td>TECNICATURA</td>
          <td>
            TECNICATURA SUPERIOR EN AGENTE SANITARIO Y PROMOTOR DE LA SALUD -
            R.M N° 322/13
          </td>
          <td>SUB SEDE PALMAR GRANDE DEL ISFD CAA CATI</td>
          <td>PALMAR GRANDE</td>
          <td><b style="color: rgb(10, 20, 163);">En curso</b></td>
          <td><button style="color: brown;background-color: inherit;border: none;" onclick="alert('periodo de inscripcion a finalizado')" class="link" href="https://simaeducativa.mec.gob.ar/modulo/ingresante/?caacati" disabled>Inscribirse</button></td>
        </tr>
      </tr>
    </table>
  </body>
</html>
