<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instituto</title>
    <link rel="stylesheet" href="../styles/views.css" />
  </head>

  <body>
    <style></style>
    <nav class="topNav" width="400">
      <img
        src="../assets/img/palmar.png"
        alt="logo Subsede"
        width="100"
        height="100"
      />
      <h1>Docentes</h1>
    </nav>
    <hr />
    <br />
    <p style="text-align: center">
      Recordad que para acceder debes iniciar sección con tu usuario
    </p>
    <div class="box__container">
      <li>
        <p>Presentar una documentación:</p>
        <a href="../views/formulario.html?tipo=docente">Documentación</a>
      </li>
      <li>
        <p>Completar un Legajo:</p>
        <a href="../views/formulario.html?tipo=docente">Legajo</a>
      </li>
      <li>
        <p>Consultar una información de estado:</p>
        <a href="../views/formulario.html?tipo=docente"
          >Información de estado</a
        >
      </li>
    </div>
    <script src="../scripts/registro.js"></script>
  </body>
</html>
