<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institoto</title>
    <link rel="stylesheet" href="../styles/views.css" />
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>

  <body>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        gap: 5px;
      }
      p {
        text-align: justify;
        padding: 5px;
        margin: 5px;
      }
    </style>
    <nav class="topNav" width="400">
      <div class="cont-nav">
        <div class="navbar-brand">
          <div
            style="
              display: flex;
              flex-direction: column;
              align-content: space-around;
              justify-content: space-between;
              flex-wrap: nowrap;
              align-items: center;
              gap: 0px;
            "
          >
            <span>
              <a href="index.html">
                <img
                  src="../assets/img/logoIsfd.jpg"
                  alt="logo Subsede"
                  width="100"
                  height="100"
                />
              </a>
            </span>
            <h2>INSTITUTO SUPERIOR DE FORMACIÓN DOCENTE CAÁ CATÍ</h2>
            <b>Caa Cati CUE: 180176500</b>
          </div>
        </div>
      </div>
    </nav>
    <hr />
    <br />
    <img
      src="../assets/img/palmar.png"
      alt="logo Subsede"
      width="100"
      height="100"
    />
    <h3>Subsede Palmar Grande</h3>
    <h5 style="margin-bottom: 10px">Perteniciente al ISDF Caa Cati</h5>

    <p>
      La institución educativa “Subsede en Palmar Grande(I.S.F.D.Caa Cati)” es
      un establecimiento educativo rural de gestión pública ubicado en el
      Departamento de General Paz de la Provincia de Corrientes. La institución
      educativa “Subsede en Palmar Grande(I.S.F.D.Caa Cati)” brinda servicios
      educativos de gestión estatal en la modalidad de educación común en el
      nivel educativo superior (no universitario).
    </p>
    <p>
      El nivel Superior es el nivel último previo al Universitario y tiene por
      objetivo proporcionar “una formación científica, profesional, humanística
      y técnica en el más alto nivel, contribuir a la preservación de la cultura
      nacional, promover la generación y desarrollo el conocimiento en todas sus
      formas y desarrollar las actitudes y valores que requiere la formación de
      personas responsables”.
    </p>
    <p>
      La institución Subsede en Palmar Grande(I. S. F. D. Caa Cati) de Palmar
      Grande ofrece educación Superior No Universitario que es un servicio
      destinado a la formación y capacitación para el ejercicio de la docencia y
      a la formación superior de carácter instrumental en las áreas
      humanísticas, sociales, artísticas de formación Técnico Profesional, entre
      otras.
    </p>
    <p>
      Es requisito de ingreso para el acceso al nivel superior acreditar
      mediante titulación el nivel secundario y sus excepciones contempladas en
      la Ley.
    </p>
    <p>
      Es recomendable consultar a la institución para hacer consultas relativas
      al alcance de la oferta de nivel superior que ofrece para cada período
      lectivo.
    </p>
    <p>¿Sabias que habilitamos nuestro propio Chat Bot (Palmito)?</p>
    <p>Puedes consultarlo para mayor información acerca del instituto</p>
  </body>
</html>
